body{
    text-align: center;
    background-color: rgb(111, 114, 104);
    display: inline;
    width: max-content;
    
    
   
}
.c1{ 
    color:rgb(242, 219, 116);
    text-align: center;
    margin-top: 10%;
    margin: 90px;
}
@keyframes glowing{
    0%{ box-shadow: 0 0 10px yellow;}
    50%{box-shadow: 0 0 30px yellow;}
    100%{box-shadow: 0 0 10px yellow;}
}
.c1:hover{
    
}
#i1{
    display:grid;
    text-align: start;
    
    
}
#sub{
    color:darkslategrey;
    background-color: yellow;
}
